@media all and (max-width: 1500px){
    .map{
        .user-card{
            top: 8rem;
            left: 6rem;
            height: 14rem;
            justify-content: flex-start;
        }
        .form{
            top: 8rem;
            left: calc(6rem + 664px + 4rem);
            .form-title{
                font-size: 2rem;
            }
        }
    }
}
@media all and (max-width: 1400px){
    .first-line{
        display: flex;
        justify-content: center;
        flex-direction: column;
        input{
            width: 100% !important;
        }
    }
    textarea{
        width: 100% !important;
    }
}
@media all and (max-width: 1280px){
    .side-button{
        display: inline-flex !important;
    }
    nav{
        padding: 1rem !important;
    }
    .mx-mobile-phone-button{
        display: inline-flex;
    }
    .whatsapp{
        bottom: 5rem;
        right: 1rem;
    }
    .contact-message-button{
        bottom: 10rem;
        right: 1rem;
    }
    .links{
        display: none !important;
    }
    #header-slide{
        .swiper-card{
            left: 10vw;
            width: 80vw;
        }
    }
    .plan-cards{
        .row{
            flex-direction: column;
        }
        .plan-card{
            width: 100%;
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
    .comments{
        padding: 2rem;
        #comments{
            height: calc(100% - 5rem);
        }
        .comments-card{
            width: 90vw;
            height: 28rem;
            h2{
                font-size: 2rem;
            }
            h2~p{
                font-size: 1.12rem;
            }
        }
    }
    .map{
        .user-card{
            top: 8rem;
            left: calc(50% - 45%);
            width: 90%;
            justify-content: flex-start;
            height: 14rem;
            font-size: 0.875rem;
            .location{
                font-size: 1rem !important;
            }
            img{
                margin-right: 3rem;
            }
        }
        .form{
            width: 90%;
            top: calc(8rem + 14rem + 2rem);
            left: calc(50% - 45%);
        }
    }
    footer{
        .row{
            flex-direction: column;
        }
        .card{
            min-width: 60vw;
            width: 100%;
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}
@media all and (max-width: 768px){
    header{
        height: 20rem;
        .header-card{   
            font-size: 0.875rem;
        }
    }
    .faq-row{
        padding: 4rem 1rem;
    }
    #header-slide{
        .swiper-card{
            height: 26rem;
            top: calc(50% - (26rem / 2) - 2rem);
        }
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
    }
    .map{
        iframe{
            height: 16rem;
        }
        .user-card{
            position: relative;
            top: 2rem !important;
        }
        .form{
            position: relative;
            top: 5rem !important;
        }
    }
}
@media all and (max-width: 670px){
    .logo{
        height: 3rem !important;
    }
    #header-slide{
        // height: 60vh;
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.125rem;
        }
        p{
            font-size: 0.875rem;
        }
    }
    .swiper .swiper-button-next, .swiper .swiper-button-prev{
        width: 3rem;
        height: 3rem;
        &:after{
            font-size: 1rem;
        }
    }
    .comments{
        padding: 2rem;
        #comments{
            height: calc(100% - 6rem);
        }
        .comments-card{
            width: 90vw;
            height: 30rem;
            h2{
                font-size: 2rem;
            }
            h2~p{
                font-size: 1.12rem;
            }
        }
    }
    .map{
        .user-card{
            height: 8rem;
            font-size: 0.75rem;
            div{
                margin: 0.25rem 0;
            }
            .location{
                font-size: 0.875rem !important;
            }
        }
        .form{
            top: calc(8rem + 8rem + 2rem);
        }
    }
}
@media all and (max-width: 568px){
    .swiper .swiper-button-next, .swiper .swiper-button-prev{
        width: 2.5rem;
        height: 2.5rem;
        &:after{
            font-size: 0.875rem;
        }
    }
    .comments{
        padding: 1rem;
        #comments{
            height: calc(100% - 4rem);
        }
        .comments-card{
            height: 23rem;
            h2{
                font-size: 1.875rem;
            }
            h2~p{
                font-size: 1rem;
            }
            .comment-text{
                font-size: 0.875rem !important;
            }
        }
    }
}
@media all and (max-width: 480px){
    .comments{
        .comments-card{
            height: 26rem;
        }
    }
}
@media all and (max-width: 448px){
    .comments{
        .comments-card{
            height: 28rem;
        }
    }
}
@media all and (max-width: 375px){
    .comments{
        .comments-card{
            width: 94vw;
            height: 30rem;
        }
    }
    .map{
        .user-card{
            height: 7rem;
            font-size: 0.625rem;
            padding-right: 0;
            .location{
                font-size: 0.75rem !important;
            }
            img{
                margin-right: 1rem;
            }
        }
    }
}