// Import Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600;700&display=swap');

// Variables
$font-playfair: 'Playfair Display', system-ui, sans-serif;
$font-poppins: 'Poppins', system-ui, sans-serif;
$color-primary-dark: #ca0000;
$color-primary-dark-opc: hsla(0, 100%, 40%, 0.4);
$color-green-dark: #008000;
$transition-time: 0.3s;


@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.25rem;
    border-radius: 50%;
    border: 0.25rem solid currentcolor;
    border-right-color: transparent;
    animation: 0.75s linear infinite spinner-border;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


* {
    margin: 0;
    padding: 0;
    font-family: $font-playfair;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.swal2-container *{
    font-family: $font-poppins;
}

body {
    overflow-x: hidden;

    &.side-bar-open {
        overflow: hidden;
    }
}

a,
button {
    font-family: $font-poppins;
    user-select: none;

    span {
        font-family: $font-poppins;
    }
}

input,
textarea {
    font-family: $font-poppins;
}

img {
    height: 100%;
}

.swiper {
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $color-primary-dark;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 2rem;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 2rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: $color-primary-dark;
        color: #fff;
        padding: 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        transition: all $transition-time;

        &::after {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &:hover {
            background-color: #fff;
            color: $color-primary-dark;
        }
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        object-fit: cover;
    }

    .swiper-card {
        position: absolute;
        top: calc(50% - (30rem / 2));
        left: 12rem;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(1rem);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 2rem 4rem;
        width: 40rem;
        height: 30rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all $transition-time;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
        }

        h1 {
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 1px;

            span {
                color: $color-primary-dark;
            }
        }

        h2 {
            font-size: 2rem;
            font-weight: 300;
        }

        p {
            font-size: 1.55rem;
        }
    }
}

.side-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 16rem;
    height: 100%;
    background: #fff;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    z-index: 4;
    transform: translateX(20rem);
    transition: all $transition-time;
    overflow-y: auto;
    overflow-x: hidden;

    &.active {
        transform: translateX(0);
    }

    .close-button {
        width: 1.75rem;
        height: 1.75rem;
        border: none;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary-dark;
        background-color: #fff;

        svg {
            fill: currentColor;
            width: 1.125rem;
            height: 1.125rem;
        }
    }

    .side-link-title {
        width: 100%;

        &.first {
            margin-top: 3rem;
        }

        padding: 1rem 2rem;
        font-size: 0.875rem;
        font-weight: 500;
    }

    .side-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 4rem;

        a {
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem 2rem;
            color: #372943;

            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.05);
            }

            &.active {
                background-color: rgba(0, 0, 0, 0.05);
                color: $color-green-dark;
            }

            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5rem);
    z-index: 3;

    &.active {
        display: block;
    }
}

.side-button {
    align-items: center;
    justify-content: center;
    border: 0;
    display: none;
    padding: 1rem;
    border-radius: 0.5rem;
    pointer-events: initial;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    border: 0;

    svg {
        fill: currentColor;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.mx-mobile-phone-button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - (1rem * 2));
    height: 4rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 2;
    background-color: $color-green-dark;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 600;
    display: none;

    svg {
        fill: currentColor;
        height: 1.125rem;
        margin-right: 1.5rem;
    }
}

.whatsapp {
    position: fixed;
    z-index: 2;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $color-green-dark;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: all $transition-time;

    svg {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
    }

    &:hover {
        background-color: #fff;
        color: $color-green-dark;
    }
}

nav {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 2rem 4rem;
    width: 100%;
    pointer-events: none;
    transition: all $transition-time;

    &.scrolled {
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: 1rem 4rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        pointer-events: initial;

        img {
            object-fit: cover;
        }
    }

    .links {
        display: flex;
        align-items: center;

        .location {
            span {
                font-family: $font-poppins;
            }

            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 3rem;
            font-size: 1rem;
            font-weight: 600;

            svg {
                height: 1.5rem;
                margin-right: 1rem;
            }
        }

        a {
            pointer-events: initial;
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.5);
            color: $color-primary-dark;
            backdrop-filter: blur(1rem);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            padding: 0 0.75rem;
            margin-right: 0.75rem;
            border-radius: 0.375rem;
            font-size: 0.875rem;
            font-weight: 500;
            transition: all $transition-time;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

            svg {
                height: 1rem;
                margin-right: 0.5rem;
                fill: currentColor;
            }

            &.cta {
                background-color: $color-green-dark;
                color: #fff;
                font-weight: 600;

                &:hover {
                    background-color: #fff;
                    color: $color-green-dark;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: $color-primary-dark;
                color: #fff;
            }
        }
    }
}

.plan-cards {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;

    .row {
        background-color: #fff;
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .plan-card {
        background-color: #fff;
        width: calc(((100% / 3) - 2rem) - (2rem * 2));
        margin-right: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #372943;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 35px 1px rgb(55, 41, 67, 0.1);

        .plan-num {
            text-align: center;
            font-size: 5rem;
            font-weight: 400;
        }

        .plan-title {
            font-size: 1.125rem;
            font-weight: 500;
            text-align: center;
            margin: 0.5rem 0 1rem;
        }

        .plan-dvider {
            height: 3px;
            text-align: center;
            width: 40%;
            background-color: #e8e8e8;
            border-radius: 1rem;
            margin: 1rem 0 2rem;
        }

        a {
            background-color: $color-primary-dark;
            color: #fff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            padding: 0 1rem;
            border-radius: 0.25rem;
            transition: all $transition-time;
            margin-top: 3rem;
            font-size: 0.875rem;
            font-weight: 500;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

            svg {
                height: 0.75rem;
                fill: currentColor;
                margin-left: 0.5rem;
                transition: all $transition-time;
            }

            &:hover {
                background-color: #fff;
                color: $color-primary-dark;

                svg {
                    margin-left: 1rem;
                }
            }
        }

        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.875rem;
                font-weight: 500;

                svg {
                    height: 1rem;
                    margin-right: 0.5rem;
                    fill: $color-green-dark;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.black-image {
    background-image: url('../images/black-image.jpg');
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.comments {
    display: flex;
    background-image: url('../images/bg_testimon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 12rem;
    margin: 4rem 0;

    #comments {
        background-color: transparent;
        position: relative;
        width: 100%;
        height: calc(100% - 10rem);

        .comment-header {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        .comment-stars {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;

            svg {
                fill: #ffa500;
                width: 1rem;
                height: 1rem;
            }
        }

        .comment-user {
            background-color: $color-primary-dark;
            color: #fff;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 500;
            font-family: $font-poppins;
            border-radius: 50%;
            margin-right: 1rem;
        }

        .comment-text {
            font-size: 1.125rem;
            font-weight: 300;
        }
    }

    .comments-card {
        background-color: #fff;
        width: 50rem;
        position: relative;
        padding: 3rem;
        height: 36rem;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        h2 {
            font-size: 4.7rem;
            font-weight: 400;
        }

        h2~p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
}

.map {
    position: relative;

    .user-card {
        pointer-events: none;
        position: absolute;
        top: 8rem;
        left: 8rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        padding-right: 2rem;
        border-radius: 0.5rem;
        width: 664px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        img {
            border-radius: 0.5rem 0 0 0.5rem;
            margin-right: 4rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }

        div {
            margin: 1rem 0;

            &.location {
                font-size: 1.75rem;
                font-weight: 700;
            }
        }
    }

    .form {
        pointer-events: none;
        position: absolute;
        top: 8rem;
        left: calc(8rem + 664px + 4rem);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        width: calc(100% - (8rem + 664px + 4rem) - 8rem);
        padding: 2rem 3rem;
        border-radius: 0.5rem;

        .form-title {
            font-size: 4rem;
            font-weight: 600;
        }

        .form-desc {
            font-size: 1.5rem;
            margin-bottom: 4rem;
        }

        .first-line {
            input {
                width: calc((100% / 3) - 1rem);
                margin-right: 0.5rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        input {
            &::placeholder {
                color: #000;
            }

            &.invalid {
                box-shadow: 0 0 2px $color-primary-dark;
                border-color: $color-primary-dark;
            }

            pointer-events: initial;
            background-color: initial;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.25rem;
            font-size: 0.875rem;
            font-weight: 500;
            height: 2.75rem;
            padding: 0 0.75rem;
            width: 100%;
            margin-bottom: 1rem;
            outline: none;
            transition: all $transition-time;
        }

        textarea {
            &::placeholder {
                color: #000;
            }

            &.invalid {
                box-shadow: 0 0 2px $color-primary-dark;
                border-color: $color-primary-dark;
            }

            pointer-events: initial;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.25rem;
            width: calc(100% - 1.5rem);
            font-size: 0.875rem;
            font-weight: 500;
            min-height: calc(2.75rem * 4);
            padding: 0.75rem;
            margin-bottom: 1rem;
            outline: none;
            resize: vertical;
            transition: all $transition-time;
        }

        button {
            pointer-events: initial;
            height: 2.75rem;
            background-color: $color-primary-dark;
            border: none;
            cursor: pointer;
            transition: all$transition-time;
            padding: 0 0.75rem;
            font-size: 0.875rem;
            font-weight: 500;
            border-radius: 0.25rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            color: #fff;

            &:disabled {
                background-color: rgba(0, 0, 0, 0.4);
                cursor: initial;
                pointer-events: none;
            }
        }
    }
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    position: relative;

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    h2~p {
        font-size: 1.75rem;
        margin: 1rem 0;
        text-align: center;
    }

    #partners {
        height: 8rem;
        margin-top: 4rem;

        .swiper-slide {
            background: #f1d6d6;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

footer {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 60rem;
        margin: 2rem auto 0;
    }

    svg {
        width: 3rem;
        height: 4rem;

        path {
            stroke: $color-primary-dark;
        }

        margin-bottom: 0.5rem;
    }

    .card {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        margin-right: 2rem;
        display: flex;
        height: 20rem;
        min-width: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
        border-radius: 0.5rem;
        color: #372943;

        .card-title {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 2rem;
            font-family: $font-poppins;
        }

        .card-desc {
            text-align: center;
            max-width: 86%;
            font-family: $font-poppins;
            font-size: 0.75rem;

            strong {
                color: #000;
                font-family: $font-poppins;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .footer-text {
        font-family: $font-poppins;
        margin: 2rem 0 4rem;
        font-size: 0.75rem
    }
}

@import 'media';